max_fn_count = 0
max_args_count = 0

[backends.miri]
type = "miri"
toolchain = "nightly"
flags = ["-Zmiri-tree-borrows"]

[backends.miri-opt]
type = "miri"
toolchain = "nightly"
flags = ["-Zmiri-tree-borrows", "-Zmir-opt-level=4"]

#[backends.llvm]
#type = "llvm"
#toolchain = "nightly"
#flags = ["-Zmir-opt-level=0"]

#[backends.llvm-opt]
#type = "llvm"
#toolchain = "nightly"
#flags = ["-Zmir-opt-level=0", "-Copt-level=3", "-Ctarget-cpu=native"]
